html{
  background-image: url('https://64.media.tumblr.com/ff57d9343d97d4362d74e964090f94ca/0f2cf94d93746fd9-05/s500x750/89da326dd9e3aa8d90c507ae7183cf47b7d284b4.png');
}

/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  padding-bottom: 20px;
  margin-bottom: 10%;
}

li {
  float: left;
  margin-left: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111111;
}

.active {
  background-color: #04AA6D;
}


input{
  font-family: 'Azeret Mono', monospace;
  height: 30px;
  width: 10%;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Azeret Mono', monospace;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Azeret Mono', monospace;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #dddddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*  Headings */


h1 {
  text-align: center;
  color: #118C4F ;
  font-family: 'Azeret Mono', monospace;
  font-size: 6em;
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

h3,
h4 {
  text-align: center;
  font-family: 'Azeret Mono', monospace;
}

li {
  list-style: none;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}

p{
  font-family: 'Azeret Mono', monospace;
  text-align: center;
}
/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table,
.fl-table1,
.fl-table2 {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 40%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  font-family: 'Azeret Mono', monospace;
}

.fl-table td,
.fl-table1 td,
.fl-table2 td,
.fl-table th,
.fl-table1 th,
.fl-table2 th {
  text-align: center;
  padding: 8px;

}

.fl-table td,
.fl-table1 td,
.fl-table2 td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;

}

.fl-table thead th,.fl-table1 thead th,.fl-table2 thead th, {
  
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) .fl-table1 thead th:nth-child(odd), .fl-table2 thead th:nth-child(odd)   {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
